**poetry.lock
**.pyc
**.env
notebooks/local**
**/local**
data/**
**.egg-info
dist/
build/
data/
**.tif**
**.nc**
**.vrt**
**.data**
**.adsapirc
**.cdsapirc
**__pycache__**
**.ipynb_checkpoints**
**mystorage**
**.tif**
**.vrt**
**.nc**